html {
    scroll-behavior: smooth;
    background-color: purple;
    color: white;
}
h3, h4{
    color: black;
    font-size: 25px;
}
h1, h2{
    color: black;
    font-size: 30px;
}
section {
    height: auto;
    scroll-margin-top: 70px; 
    
}
a {
    text-decoration: none;
}
.container {
    
    display: flex;
    justify-content: space-between;
  }
.header-logo img {
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 8px;
}
.logo-title {
    color: gold;
    margin-left: 10px;
    margin-top: -9px;
}
.header {
    background-color: palevioletred;
     width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    height: 250px;
   
      
}
.home{
    padding-top: 228px;
    
}
.nav {
    margin: 0;
    padding: 10px;
    text-align: center;
    list-style: none;
}
.navbar-menu {
    float: right;
    position: relative;
}
.nav .nav-link {
    color: white;
    font-size: 20px;
    display: block;
    padding: 2px;
}
.nav .nav-link:hover{
    color: blue;
}
.image-text-container {
    display: flex;
    align-items: center; 
    gap: 20px; 
  }
  .side-image {
    width: 100%; /* Adjust as needed */
    max-width: 400px; /* Optional max-width for responsiveness */
    padding-bottom: 40px;
    height: auto; /* Maintains aspect ratio */
  }
  .home-content{
    width: 100%;
    font-size: 2rem;
    padding-bottom: 120px;
    margin-left: 150px;
    
    
  }
.join-button{
    padding: 6px;
    margin-right: 0px;
    font-size: 20px;
    background-color: rgb(70, 32, 241);
    color: white;
    cursor: pointer;
    border-radius: 10px;
}
.join-button:hover{
    background-color: blueviolet;
}
.pregnancy {
    display: flex;
    align-items:center;
    margin:auto;
    height: auto;
    padding-top: 100px;
    padding-left: 20px;
    line-height: 1;
    text-align: justify;
    word-spacing: 2px;
    letter-spacing: 0.5px;
}
#pregnancy ul{
   font-size:larger;
   padding-left: 10px;
}
#pregnancy ul li{
    margin-bottom: 10px;
}
#pregnancy a{
    color: brown;
    font-family: 'Arial', sans-serif; 
    text-decoration: none; 
    
}
#pregnancy a:hover{
    color: #0056b3;
}
.pregnancy-image {
    width: 400px;
    height:auto;
    margin-left: 290px;
    padding-bottom: 100px;
}
.pregnancy-content{
    width: 100%;
    font-size: 22px;
    padding-bottom: 250px;
    margin-left: 60px;
    text-align:center;
    padding-left: 20px;
    line-height: 1;
    word-spacing: 5px;
    letter-spacing: 0.8px;
}

.preg-side-bar{ 
    position: sticky;
    margin-top: -150px;
    background-color: rgb(228, 144, 228);
    padding: 5px;
    border-radius: 20px;
}
#postpartum{
    height: auto;
}
.Postpartum{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    padding-bottom: 50px;

}
.image-container{
    display: flex;
    flex-wrap: wrap; 
    flex: 1 1;
    align-items: flex-start; 
    gap: 20px;
}
.postpartum-photo{
    width: 400px;
    height: auto;
    margin-left: 0px;
    padding-top: 170px;
    margin-right: 20px;
    flex: 1;

}
.postpartum2-photo{
    width: 400px;
    height: auto;
    margin-top:0px ;
    margin-right: 20px;
    flex: 2;

}
.postpartum-content {
    min-width: 300px;
    margin-left: 100px;
    padding-top: 150px;
    flex: 1 1;
    font-size: medium;
}
.baby-photo{
    width: 400px;
    height: auto;
    margin-left: 0px;
    padding-top: 150px;
    margin-right: 20px;
    flex: 1;   
}